.env
.env.testing
tests/_output/*
*.log
.idea/workspace.xml
\.idea/laravel-plugin\.xml

.idea/php-test-framework.xml

.idea/php.xml

vendor

.idea
.vscode
.settings
node_modules/resolve-from/

node_modules/

package-lock.json
